/* Базовый сброс стилей */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    font-family: 'Norms', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal; /* Убираем жирное начертание по умолчанию */
}

ul, ol {
    list-style: none; /* Убираем стили списков */
}

a {
    text-decoration: none; /* Убираем подчеркивание ссылок */
    color: inherit; /* Делает цвет ссылки таким, как у родительского элемента */
}

img {
    max-width: 100%; /* Ограничиваем ширину изображений */
    height: auto; /* Сохраняем пропорции изображений */
}

button {
    background: none; /* Убираем фон кнопок */
    border: none; /* Убираем рамки */
    cursor: pointer; /* Меняем курсор на указатель */
}

/* Простая таблица сброса */
table {
    border-collapse: collapse; /* Убираем отступы между ячейками */
    width: 100%; /* Делает таблицу шириной 100% */
}

th, td {
    padding: 0; /* Убираем отступы ячеек */
    text-align: left; /* Допускаем выравнивание текста по левому краю */
}
